.spinner {
  animation: rotator 1.4s linear infinite;
  margin-bottom: 2.4rem;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: $color-primary-green;
  }
  25% {
    stroke: $color-primary-green;
  }
  50% {
    stroke: $color-primary-green;
  }
  75% {
    stroke: $color-primary-green;
  }
  100% {
    stroke: $color-primary-green;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
